body{
	width: 16rem;
	height: 29.025rem;
}
.i-search{
	width: 100%;
	height: 2.52rem;
	padding: 0 0.6rem;
	box-sizing:border-box;
}
.i-search .p1{
	font-size: 0.72rem;
	float: left;
	line-height: 2.52rem;
}
.i-search .p1 img{
	width: 0.4rem;
	height: 0.24rem;
	margin-top:1.16rem;
	margin-left: 0.2rem;
}
.i-search .p2{
	width: 12.40em;
	height: 1.4rem;
	background-color: #fff;
	float: right;
	margin-top: 0.56rem;
	border-radius: 0.6rem;
	background-color: #F5F5F5;
}
.i-search .p2 img{
	float: left;
	width: 0.76rem;
	height: 0.76rem;
	margin-left: 0.56rem;
	margin-top: 0.32rem;
}
.i-search .p2 input{
	float: left;
	height: 1.4rem;
	font-size: 0.64rem;
	color: #999999;
	margin-left: 0.32rem;
}
.swiper-container {
    width: 100%;
    height: 7rem;
}  
.swiper-slide{
    width: 100%;
    height: 7rem;
}
.swiper-slide img{
    width: 100%;
    height: 100%;
    border-radius: 0.32rem;
}